<div class="row">
    <div class="col-xs-12">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="col-xs-4"></div>
            <div class="form-groupe col-xs-4">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" ngModel name="email" required email>
                <label for="password">Lozinka</label>
                <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6">
                <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Prijava</button>
                <label style="color: red;">{{error}}</label>
                <a style="margin-left: 10px;" routerLink="/register">Nemate nalog? Registrujte se</a>
            </div>
        </form>
    </div>
</div>
